name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches:
    include:
      - main

pool:
  name: agent2

variables:
  dockerRegistryServiceConnection: dockerhub-connection
  imageRepository: jalbertobohorquez/mongodb
  imageTag: $(Build.BuildId)
  k8sNamespace: calendar-app
  deploymentName: mongodb
  containerName: mongodb

stages:
  - stage: Build_Push
    displayName: Build and Push Image
    jobs:
      - job: build_push
        steps:
          - checkout: self

          - task: Docker@2
            displayName: Build and Push to Docker Hub
            inputs:
              command: buildAndPush
              containerRegistry: $(dockerRegistryServiceConnection)
              repository: $(imageRepository)
              dockerfile: $(Build.SourcesDirectory)/Dockerfile
              buildContext: $(Build.SourcesDirectory)
              tags: |
                $(imageTag)
                latest

  - stage: Deploy
    displayName: Update Kubernetes Deployment
    dependsOn: Build_Push
    jobs:
      - job: deploy
        steps:
          - script: |
              cd /home/sysadmin/Ansible
              sudo ansible-playbook deployments/deploy_mongodb.yml
            displayName: Apply MongoDB via Ansible

